language: go

go:
  - 1.11.x
  - 1.10.x
  - 1.9.x
  - 1.8.x
  - 1.7.x

services:
  - memcached
  - redis-server

before_script:
  - GO_FILES=$(find . -iname '*.go' -type f | grep -v /vendor/)
  - go get github.com/golang/lint/golint
    
script:
  - go test -v -race ./...
  - go vet ./...
  - golint -set_exit_status $(go list ./...)
