name: Go

on:
  push:
    branches: [ master,release-* ]
  pull_request:
    branches: [ master,release-* ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        ports:
        - 6379:6379 
        options: --entrypoint redis-server
      memcached:
        image: memcached
        ports:
          - 11211:11211
    steps:

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.13
        id: go

      - name: Lint Go Code
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin # temporary fix. See https://github.com/actions/setup-go/issues/14
          go get -u golang.org/x/lint/golint
          go vet ./...
          golint -set_exit_status $(go list ./...)

      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v1
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: v1.26


      - name: Test
        run: go test -v -race ./...
